---
layout: default
---
<style type="text/css">
	.tiles {
		filter: blur(2px);
	}
</style>
<div id="mainMenu">
    <span>{{ site.title }}</span>
</div>
<div class="content">
    <div class="tiles">
        <div class="tile-row">
            {% for post in site.posts %}
            <a href="{{ post.url | relative_url }}" itemscope itemtype="http://schema.org/Event" class="tile" style="background-image: url('{{ post.image | relative_url }}')">
                <h2 itemprop="name" class="name">{{ post.title | escape }}</h2>
                <div class="date">
                    <div>через</div>
                    <div class="days"></div>
                </div>
                <div class="microdata">
                    <div itemprop="startDate">{{ post.startDate | date: "%Y-%m-%d" }}</div>
                    <div itemprop="endDate">{{ post.startDate | date: "%Y-%m-%d" }}</div>
                    <div itemprop="location">{{ post.location | escape }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <a id="eventBlock" href="{{ "/" | relative_url }}" itemscope itemtype="http://schema.org/Event" >
    	<h1 itemprop="name" class="name">{{ page.title }}</h1>
    	<div class="image" style="background-image: url('{{ page.image | relative_url }}')"></div>
    	<div class="description">{{ page.description }}</div>
    	<div class="microdata">
            <div itemprop="startDate">{{ page.startDate | date: "%Y-%m-%d" }}</div>
            <div itemprop="endDate">{{ page.startDate | date: "%Y-%m-%d" }}</div>
            <div itemprop="location">{{ page.location | escape }}</div>
        </div>
    </a>
</div>