html, body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*overflow: hidden;*/
}

#mainMenu {
    background-color: #27191d;
    height: 60px;
    color: #f1d7a3;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    text-shadow: 0px 0px 2px #27191d;
    padding-left: 15px;
}

#mainMenu > img {
    width: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

#mainMenu:after {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: 60px;
    left: 0px;
    display: block;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.0));
}

.tiles {
    width: 900px;
    margin: auto;
/*    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-content: space-evenly;
    flex-shrink:1;*/
    box-shadow: 0px 0px 2px #27191d;
}

.tile-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-shrink:1;
}

.tile {
    width: 140px;
    height: 140px;
    background-color: #27191d;
    cursor: pointer;
    box-shadow: inset 0px 0px 2px #27191d;
    background-size: cover;
    color: white;
    text-align: center;
    /*border-radius: 2px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition-duration: .2s;
    text-shadow: 0px 0px 14px #27191d;
}

.tile:hover {
    box-shadow: inset 0px 0px 60px #27191d;
}

.tile-row:nth-child(odd) > .tile:nth-child(3n+2) {
    min-width: 140px;
    flex-grow: 2;
}

.tile-row:nth-child(even) > .tile:nth-child(3n+1) {
    min-width: 140px;
    flex-grow: 3;
}

.tile-row:nth-child(3n+3) > .tile:nth-child(3n+3) {
    min-width: 140px;
    flex-grow: 4;
}

.name {
    font-size: 1vw;
}

.time {
    font-size: 1vw;
}

.days {
    font-size: 2.2vw;
}

#devPanelbg, #devPanelh {
    width: 50px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#devPanelh {
    right: 50px;
}

.bg-image-bg, .bg-image-h {
    width: 40px;
    height: 40px;
    margin: 4px 4px 4px 4px;
    border-radius: 4px;
    cursor: pointer;
}